In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

In [3]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    query10 = """
        SELECT Facilities.name,
        SUM(CASE WHEN Bookings.memid =0
        THEN Facilities.guestcost * Bookings.slots
        ELSE Facilities.membercost * Bookings.slots
        END) AS revenue
        FROM Facilities
        JOIN Bookings ON Facilities.facid = Bookings.facid
        GROUP BY Facilities.name
        HAVING revenue <1000
        ORDER BY revenue DESC
        """
    cur.execute(query10)
    
    rows = cur.fetchall()
    
    print("Q10: Facilities with a total revenue less than 1000:")
    for row in rows:
        print(row)
    print("***End of List***")
    print(" ")
    
    cur = conn.cursor()
    query11 = """
        SELECT (r.firstname || ' ' || r.surname), (m.firstname || ' ' || m.surname)
        FROM Members as m
        LEFT JOIN Members as r ON m.memid = r.recommendedby
        WHERE r.surname <> 'Guest'
        AND r.surname <> 'None'
        AND m.surname <> 'Guest'
        AND m.surname <> 'None'
        ORDER BY r.surname, r.firstname
        """
    cur.execute(query11)
    
    rows = cur.fetchall()
    
    print("Q11:Report of members and who recommended them:")
    for row in rows:
        print(row)
    print("***End of List***")
    print(" ")

    cur = conn.cursor()
    query12 = """
        SELECT f.name AS facilityname, 
        SUM(b.slots) AS time 
        FROM Bookings AS b 
        LEFT JOIN Facilities AS f ON f.facid = b.facid 
        LEFT JOIN Members AS m ON m.memid = b.memid 
        WHERE b.memid <> 0 
        GROUP BY facilityname 
        ORDER BY time DESC
        """
    cur.execute(query12)
    
    rows = cur.fetchall()
    
    print("Q12:Facilities with their usage by members in hours (July 3rd -Sept 30th 2012):")
    for row in rows:
        print(row)
    print("***End of List***")
    print(" ")

    cur = conn.cursor()
    query13 = """
        SELECT sub.month AS month, sub.facilityname AS facility, 
        SUM(sub.slots) AS time 
        FROM (SELECT strftime('%m', starttime) AS month, f.name AS facilityname, b.slots AS slots
        FROM Bookings AS b 
        LEFT JOIN Facilities AS f ON f.facid = b.facid 
        LEFT JOIN Members AS m ON m.memid = b.memid 
        WHERE b.memid <> 0) sub 
        GROUP BY MONTH, facility 
        ORDER BY MONTH, time DESC;
        """
    cur.execute(query13)
    
    rows = cur.fetchall()
    
    print("Q13:Facilities usage in hours by month (July 3rd -Sept 30th 2012):")
    for row in rows:
        print(row)
    print("***End of List***")
    print(" ")

In [4]:
        
def main():
    database = "sqlite_db_pythonsqlite.db"
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Answers Q10-Q12")
        print(" ")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
Answers Q10-Q12

Q10: Facilities with a total revenue less than 1000:
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)
***End of List***

Q11:Report of members and who recommended them:
('Florence Bader', 'Ponder Stibbons')
('Anne Baker', 'Ponder Stibbons')
('Timothy Baker', 'Jemima Farrell')
('Tim Boothe', 'Tim Rownam')
('Gerald Butters', 'Darren Smith')
('Joan Coplin', 'Timothy Baker')
('Erica Crumpet', 'Tracy Smith')
('Nancy Dare', 'Janice Joplette')
('Matthew Genting', 'Gerald Butters')
('John Hunt', 'Millicent Purview')
('David Jones', 'Janice Joplette')
('Douglas Jones', 'David Jones')
('Janice Joplette', 'Darren Smith')
('Anna Mackenzie', 'Darren Smith')
('Charles Owen', 'Darren Smith')
('David Pinker', 'Jemima Farrell')
('Millicent Purview', 'Tracy Smith')
('Henrietta Rumney', 'Matthew Genting')
('Ramnaresh Sarwin', 'Florence Bader')
('Jack Smith', 'Darren Smith')
('Ponder Stibbons', 'Burton Tracy')
('Henry Worthington-Smyth', 'Tracy Smith')
***End of List***

Q12:Facilities with their usage by members in hours (July 3rd -Sept 30th 2012):
('Badminton Court', 1086)
('Tennis Court 1', 957)
('Massage Room 1', 884)
('Tennis Court 2', 882)
('Snooker Table', 860)
('Pool Table', 856)
('Table Tennis', 794)
('Squash Court', 418)
('Massage Room 2', 54)
***End of List***

Q13:Facilities usage in hours by month (July 3rd -Sept 30th 2012):
('07', 'Tennis Court 1', 201)
('07', 'Massage Room 1', 166)
('07', 'Badminton Court', 165)
('07', 'Snooker Table', 140)
('07', 'Tennis Court 2', 123)
('07', 'Pool Table', 110)
('07', 'Table Tennis', 98)
('07', 'Squash Court', 50)
('07', 'Massage Room 2', 8)
('08', 'Badminton Court', 414)
('08', 'Tennis Court 2', 345)
('08', 'Tennis Court 1', 339)
('08', 'Snooker Table', 316)
('08', 'Massage Room 1', 316)
('08', 'Pool Table', 303)
('08', 'Table Tennis', 296)
('08', 'Squash Court', 184)
('08', 'Massage Room 2', 18)
('09', 'Badminton Court', 507)
('09', 'Pool Table', 443)
('09', 'Tennis Court 1', 417)
('09', 'Tennis Court 2', 414)
('09', 'Snooker Table', 404)
('09', 'Massage Room 1', 402)
('09', 'Table Tennis', 400)
('09', 'Squash Court', 184)
('09', 'Massage Room 2', 28)
***End of List***